<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SameerDanceAcademy</title>
    <link rel="stylesheet" href="../static/contactstyle.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo"> <img src="../static/img/logo.webp" />SDA</div>
            <li><a href="/">Home</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Contact Us </h1>
        <form class="cform" action="/contact" method="post">
            <input type="text" name="name" placeholder="Enter Your Name" />
            <input type="phone" name="contact" placeholder="Enter Your contact number" />
            <input type="email" name="email" placeholder="Enter Your Email" />
            <input type="text" name="address" placeholder="Enter Your Address" />
            <input type="text" name="concern" placeholder="Enter Your Concern" />
            <button class="btn" type="submit">
                Submit</button>
        </form>
    </div>
    <footer id="footer">
        Copyright © 2022 SameerDanceAcademy.com | All Right's Reserved</footer>
    <script src="../static/index.js"></script>
</body>

</html>
<!-- contactus -->